ul {
    list-style: none;
}

.site-footer {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    .contenedor {
        padding-top: 20px;
        background-color: #00aeef;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        .footer-informacion {
            text-align: left;
            width: 30%;
            padding-right: 20px;
            padding-left: 20px;
            .footer-informacion__h3 {
                font-weight: bold;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 1rem;
            }
            .footer-informacion_span {
                color: #0e2a35;
            }
            .footer-informacion__p {
                line-height: 20px;
            }
        }
        .ultimos-tweets {
            text-align: center;
            width: 40%;
            .footer-tweets__h3 {
                font-weight: bold;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .footer-tweets_span {
                color: #0e2a35;
            }
            .footer-tweets__ul {
                margin: 0;
                padding: 0;
                .footer-tweets__il {
                    margin-bottom: 10px;
                }
            }
        }
        .menu {
            width: 30%;
            text-align: center;
            .footer-menu_h3 {
                font-weight: bold;
                text-transform: uppercase;
            }
            .footer-menu_span {
                color: #0e2a35;
            }
            .redes-sociales {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                padding-top: 20px;
                .redes-sociales__links {
                    font-size: 4rem;
                    margin-right: 1rem;
                    padding-left: 1rem;
                    color: white;
                    .fa-facebook {
                        color: #3b5998;
                    }
                    .fa-instagram {
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .fa-twitter {
                        color: #114d64;
                    }
                }
            }
            .copyrigth {
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
                font-size: 16px;
                padding-top: 90px
            }
        }
    }
}

@media (max-width: 768px) {
    .site-footer {
        background-color: #00aeef;
        color: white;
        .contenedor {
            display: block;
            text-align: center;
            .footer-informacion {
                display: none;
            }
            .ultimos-tweets {
                display: none;
            }
            .menu {
                display: flex;
                flex-direction: column;
                width: 1200px;
                .footer-menu_h3 {
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .footer-menu_span {
                    color: #0e2a35;
                }
                .redes-sociales {
                    display: flex;
                    flex-direction: row;
                    text-transform: uppercase;
                    justify-content: center;
                    .redes-sociales__links {
                        color: white;
                        .fa-facebook {
                            color: #3b5998;
                        }
                        .fa-instagram {
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        .fa-twitter {
                            color: #114d64;
                        }
                    }
                }
                .copyrigth {
                    padding-top: 20px;
                }
            }
        }
    }
}