<footer class="site-footer">
    <div class="contenedor">
        <div class="footer-informacion">
            <h3 class="footer-informacion__h3">Sobre <span class="footer-informacion_span">Mi Pagina del Tiempo</span></h3>
            <p class="footer-informacion__p">Nullam non venenatis purus. Donec eu sapien at orci mollis mattis. Mauris id eleifend felis. Etiam efficitur risus et nisi tempus egestas. Vestibulum faucibus libero nec ex elementum imperdiet. Mauris iaculis metus libero, eu feugiat eros
                tincidunt id. Nullam scelerisque mauris nunc, ut consectetur est molestie eu. Proin quis purus in augue ultricies ultricies.</p>
        </div>
        <div class="ultimos-tweets">
            <h3 class="footer-tweets__h3">Últimos <span class="footer-tweets_span">Tweets</span></h3>
            <a class="twitter-timeline" data-width="220" data-height="200" href="https://twitter.com/ElTiempoes?ref_src=twsrc%5Etfw">Tweets by ElTiempoes</a>

        </div>
        <div class="menu">
            <h3 class="footer-menu_h3">Redes <span class="footer-menu_span">Sociales</span></h3>
            <nav class="redes-sociales">
                <a class="redes-sociales__links" href="https://www.facebook.com/eltiempoes"><i class="iconos fab fa-facebook"></i></a>
                <a class="redes-sociales__links" href="https://www.instagram.com/eltiempoes/?hl=es"><i class="iconos fab fa-instagram"></i></a>
                <a class="redes-sociales__links" href="https://twitter.com/NotHate15"><i class="iconos fab fa-twitter"></i></a>
            </nav>
            <div class="copyrigth">
                <i class="far fa-copyright">Todos los derechos reservados</i>
            </div>
        </div>

    </div>

</footer>