<header class="site-header">
    <div class="contenedor">
        <div class="logo">
            <input type="checkbox" name="" id="btn-menu">
            <label for="btn-menu">
            <img class="imagen" src="{{imageLogo}}" alt="logo">
            </label>
        </div>
        <div class="enlaces-principales">
            <ul class="enlaces">
                <li><a class="enlaces_botenes" role="button" routerLink="/home">Predicción </a></li>
                <li><a class="enlaces_botenes" role="button" routerLink="/countrylist">Paises </a></li>
                <li><a class="enlaces_botenes" role="button" routerLink="/about"> About</a></li>
            </ul>
        </div>
        <div class="menu">
            <nav class="redes-sociales">
                <a class="redes-sociales__links" href="https://www.facebook.com/eltiempoes"><i class="iconos fab fa-facebook"></i></a>
                <a class="redes-sociales__links" href="https://www.instagram.com/eltiempoes/?hl=es"><i class="iconos fab fa-instagram"></i></a>
                <a class="redes-sociales__links" href="https://twitter.com/NotHate15"><i class="iconos fab fa-twitter"></i></a>
                <a class="redes-sociales__links" href="http://localhost:4200/countrylist"><i class="far fa-user"></i></a>

            </nav>
        </div>
    </div>
</header>