        ul {
            list-style: none;
        }
        
        .site-header {
            display: flex;
            justify-content: center;
            .contenedor {
                background-color: #00aeef;
                color: white;
                width: 1200px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                .logo {
                    .imagen {
                        width: 100px;
                        cursor: pointer;
                    }
                }
                .enlaces-principales {
                    text-align: center;
                    .enlaces {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        .enlaces_botenes:hover {
                            background-color: #025574;
                        }
                        .enlaces_botenes {
                            text-decoration: none;
                            display: block;
                            padding: 1rem 1.6rem;
                            color: white;
                            font-size: 1.6rem;
                            border-right: 1px solid rgba(255, 255, 255, 0.233);
                        }
                    }
                }
                .menu {
                    .redes-sociales {
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                        padding-top: 30px;
                        .redes-sociales__links {
                            font-size: 2rem;
                            margin-right: 1rem;
                            padding-top: 0.6rem;
                            padding-left: 1rem;
                            color: white;
                        }
                        .redes-sociales__links:hover {
                            .fa-facebook {
                                color: #3b5998;
                            }
                            .fa-instagram {
                                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                                -webkit-background-clip: text;
                                /* Also define standard property for compatibility */
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                            .fa-twitter {
                                color: #114d64;
                            }
                        }
                        .redes-sociales__links:last-child {
                            text-align: end;
                            padding-left: 60px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        
        #btn-menu {
            display: none;
        }
        
        @media (max-width: 768px) {
            .site-header {
                display: block;
                .contenedor {
                    display: block;
                    width: 100%;
                    .logo {
                        display: flex;
                        justify-content: center;
                    }
                    .redes-sociales__links {
                        display: none;
                    }
                    .enlaces-principales {
                        margin: 0;
                        padding: 0;
                        .enlaces {
                            margin: 0;
                            padding: 0;
                            flex-direction: column;
                        }
                        .enlaces_botenes {}
                    }
                }
                #btn-menu:checked~.enlaces {}
            }
        }