.contenedor {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 1rem;
    background-color: blanchedalmond;
}