<div class="contenedor">
    <p>En esta pagina he querido recrear una estación meteorologica atacando a una Api publica ( Openweathermap ). Para ello he hecho un get con una funcion en la que he recuperado dos valores los cuales iban a ser el eje de lo que queria: un buscador por
        ciudad y codigo de pais para que me devolviera lo datos meteorologicos. Despues lo he pintado en mi component para que junto a una extension de un mapa publico y los valores de latitud y longitud que me devolviese mi formulario con los dos valores
        recuperados de la Api, me pintara exactamente la posicion en el mapa. En el Html he maquetado los valores que me han interesado de mi api para que se me muestren, junto al id del mapa. Por ultimo he creado un carrusel de fotos que se actualizaran
        segun la zona establecida,</p>

    <p>
        Todo mi html esta establecido de forma resposive
    </p>
    <p>
        En mi pagina de Paises he creado una fake api, para uqem e devolviera un listado de paises junto a su codigo de pais para que se seleccionara al meter la ciudad en mi pagina de home
    </p>
</div>