body {
    background-image: url('https://www.bbvaopenmind.com/wp-content/uploads/2018/06/Nubes-1-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}