        /* RESET STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
        
        button {
            cursor: pointer;
        }
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        
        ul {
            list-style: none;
        }
        
        .contenedor {
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 0 15px;
            padding-top: 1rem;
            background-color: #D4F3FF;
        }
        
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }
        
        .searchTerm {
            width: 100%;
            border: 3px solid #00B4CC;
            border-right: none;
            padding: 5px;
            height: 20px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9DBFAF;
        }
        
        .searchTerm:focus {
            color: #00B4CC;
        }
        
        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #00B4CC;
            background: #00B4CC;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }
        
        @media (max-width:768px) {
            .search {
                padding-right: 0;
                margin: 0;
            }
            .searchTerm {
                margin: 0;
                padding: 0;
            }
            .searchButton {
                display: block;
                width: 0 auto;
                height: 58px;
                margin: 2px;
                border: px solid #00B4CC;
                background: #00B4CC;
                color: #fff;
                border-radius: 0 10px 10px 0;
                cursor: pointer;
                font-size: 20px;
            }
        }
        
        .wrap {
            margin-bottom: 20px;
        }
        /* SECTION #1
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
        
        .weather {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px 40px;
            background-color: rgb(255, 255, 255);
            .weatherInformation {
                .weatherInformation_parrafo {
                    color: gray;
                }
                .weatherInformation_city {
                    margin: 0;
                    padding-right: 0.6rem;
                    font-size: 3rem;
                }
                .weatherInformation_temp {
                    display: inline;
                    font-size: 4rem;
                    border-right: 3px solid rgb(0, 0, 0);
                    padding-right: 1.2rem;
                }
                .weatherInformation_icono {
                    display: inline;
                    width: 88px;
                    -webkit-filter: drop-shadow(0px 10px 4px #5a5a5c);
                    filter: drop-shadow(30px 10px 4px #5a5a5c)
                }
                .weatherInformation_descript {
                    display: inline;
                    font-size: 25px;
                }
                .weatherInformation_humedad {}
                .weatherInformation_max {
                    display: inline-block;
                }
                .weatherInformation_min {
                    margin-left: 10px;
                    display: inline-block;
                }
            }
        }
        
        .icono {
            display: none;
            filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
            animation-name: cloudMovement;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
            -webkit-filter: drop-shadow(1px 1px 10px white);
            filter: drop-shadow( 1px 1px 10px white);
        }
        
        @keyframes cloudMovement {
            from {
                margin-left: -5px;
            }
            to {
                margin-left: 65px;
            }
        }
        
        .map {
            padding: 0;
            margin: 0;
        }
        
        @media (max-width: 768px) {
            .weather {
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 15px;
                padding-top: 1rem;
                background-color: rgba(51, 51, 128, 0.582);
                filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
                color: white;
                .weatherInformation {
                    .weatherInformation_parrafo {
                        color: white;
                    }
                    .weatherInformation_city {
                        margin: 0;
                        padding-right: 0.6rem;
                        font-size: 2.6rem;
                    }
                    .weatherInformation_temp {
                        display: inline;
                        font-size: 2rem;
                        border-right: 3px solid rgb(0, 0, 0);
                        padding-right: 0.6rem;
                    }
                    .weatherInformation_descript {
                        font-size: 18px;
                        margin-left: 8px;
                        padding: 0;
                    }
                    .weatherInformation_icono {
                        display: none;
                    }
                    .weatherInformation_humedad {
                        display: none;
                    }
                    .weatherInformation_max {
                        content: '';
                        margin-left: 20px;
                    }
                    .weatherInformation_min {
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
            }
            .icono {
                width: 80px;
                display: flex;
                justify-content: end;
                filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
                animation-name: cloudMovement;
                animation-iteration-count: infinite;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
                -webkit-filter: drop-shadow(1px 1px 10px white);
                filter: drop-shadow( 1px 1px 10px rgb(255, 255, 255));
            }
            @keyframes cloudMovement {
                from {
                    margin-left: -5px;
                }
                to {
                    margin-left: 65px;
                }
            }
            .map {
                padding-bottom: 10px;
            }
        }
        
        .gallery {
            margin-top: 10px;
        }