<div class="home">
    <div class="contenedor">
        <div class="buscador">
            <div class="wrap">
                <form class="search" (submit)="submitLocation(cityName, cityCode)">
                    <div class="input">
                        <input id="inputcity" class="searchTerm" type="text" placeholder="City Name" class="form-control" autofocus #cityName>
                        <input id="input2" class="searchTerm" type="text" placeholder="City Code" class="form-control" autofocus #cityCode>
                    </div>
                    <button class="searchButton" aria-label="Buscar" type="submit"><i class="fa fa-search"></i>
                        </button>
                </form>
            </div>
        </div>
    </div>

    <div class="weather">
        <div *ngIf="homeWeather" class="weatherInformation">
            <p class="weatherInformation_parrafo">El tiempo en</p>
            <p class="weatherInformation_city">{{homeWeather.name}}</p>
            <p class="weatherInformation_temp" id="temp"> <span>{{homeWeather.main.temp.toFixed()}} °C </span><img class="weatherInformation_icono" src='http://openweathermap.org/img/wn/{{homeWeather.weather[0].icon}}.png' alt=""></p>
            <p class="weatherInformation_descript"> {{homeWeather.weather[0].description }}</p>
            <p class="weatherInformation_humedad">Humedad: {{homeWeather.main.humidity}} %</p>
            <!-- <p class="weatherInformation_presion">Presión Atmosferica: {{homeWeather.main.pressure}}</p> -->
            <p class="weatherInformation_max"> Max <i class="fas fa-arrow-up"></i> {{homeWeather.main.temp_max.toFixed()}} °C</p>
            <p class="weatherInformation_min"> Min <i class="fas fa-arrow-down"></i> {{homeWeather.main.temp_min.toFixed()}} °C</p>
            <!-- <p>Latitude: {{homeWeather.coord.lat}}</p>
                <p>Longitude: {{homeWeather.coord.lon}}</p> -->
        </div>
        <img class="icono" src='http://openweathermap.org/img/wn/{{homeWeather.weather[0].icon}}.png' alt="" id="map_icono">
        <div #map id="map" class="map">
        </div>
        <div class="gallery">
            <app-gallery></app-gallery>
        </div>
    </div>

</div>