.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.contenido {
    position: relative;
    height: auto;
}

.contenido::before {
    background-image: url('../../../../assets/nube2.jpg');
    content: '';
}

.contenido_imagenes {
    position: relative;
    padding: 120px 0;
    color: white;
    text-transform: uppercase;
    .contenido_imagenes__img {
        width: 25%;
        float: left;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contenido {
        margin-bottom: 10px;
    }
}