<div class="contenido parallax">
    <carousel>
        <div class="carousel-cell">
            <app-foto [image]="Img1" (click)="clickEvent()"></app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img2" (dblclick)="dClickEvent()"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img3" (mouseenter)="mouseEnterEnvent()"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img4"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img5"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img6"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img7"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img8"> </app-foto>
        </div>
        <div class="carousel-cell">
            <app-foto [image]="Img9"> </app-foto>
        </div>
    </carousel>
</div>