<div class="paises">
    <div *ngFor="let item of itemList">
        <p>
            <a href="http://localhost:4200/home">Ciudad: <span>{{item.cityname}}</span>,</a>
        </p>
        <p>
            Codigo del pais: <span>{{item.countryCode}}</span>
        </p>
    </div>
    <button (click)="goBack()">Go back</button>
</div>